# ---- General ----
# system files
.DS_Store
Thumbs.db


# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# ---- Node (Backend) ----
# dependencies
/Backend/node_modules

# dotenv environment variables file
# include for now as they don't contain sensitive info
# /Backend/.env

# build
/Backend/dist

# logs
/Backend/npm-debug.log*
/Backend/yarn-debug.log*
/Backend/yarn-error.log*

# IDE specific files
/Backend/.idea
/Backend/*.iml

# ---- Vite + React + TypeScript (Frontend) ----
# dependencies
/Frontend/node_modules

# build
/Frontend/dist

# IDE specific files
/Frontend/.idea
/Frontend/*.iml

# dotenv environment variables file
# include for now as they don't contain sensitive info
# /Frontend/.env

# Ignore logs
/Frontend/npm-debug.log*
/Frontend/yarn-debug.log*
/Frontend/yarn-error.log*
